@import url("bootstrap.css"); 						        								/* Main Bootstrap */
@import url("animate.min.css");															/* Animate On Page Scroll */
@import url("style.css");																		/* Main theme styles */
@import url("menu.css");																		/* Menu styles */
@import url("responsive.css");																/* Responsive */
@import url("fontello/css/icon_set_1.css");										/* Icon pack */
@import url("fontello/css/icon_set_2.css");										/* Icon pack */
@import url("fontello/css/fontello.css");											/* Icon pack */
@import url("icon_restaurant/css/icon_restaurants.css");			/* Icon pack */
@import url("magnific-popup.css");													/* Lightbox & dialog script */
@import url("pop_up.css");																	/* Popup Advertising */

/*
How to change colors
1) uncomment one of the color variation below
2) rename the color variation logo img inside the img folder to match the default logo file name (logo.png/logo_sticky.png), this avoid to change the logo file name in every page.

DONE!
*/

/* @import url("color-aqua.css");					 	 Color variation aqua */
/* @import url("color-orange.css");					  Color variation Orange */
@import url("color-green.css");

.Validform_right{
    color:#71b83d;
    padding-left:20px;
    background:url(../img/right.png) no-repeat left center;
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    background:url(../img/error.png) no-repeat left center;
}
.Validform_loading{
    padding-left:20px;
    background:url(../img/onLoad.gif) no-repeat left center;
}
.Validform_error{
    background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
    background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}